<div class="table-header">
    <h2 class="table-title">Orders</h2>
    <button mat-raised-button color="primary" (click)="addOrder()">Add Order</button>
    <button mat-raised-button color="primary" (click)="deleteSelectedOrders()">delete Selected Orders</button>
</div>
<app-global-search (searchDataEvent)="searchData($event)"></app-global-search>

<mat-table class="table table-hover" [dataSource]="tableObj.dataSource" matSort>
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> state </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="zip">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> zip </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.zip}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> amount </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="qty">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> qty </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.qty}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="item">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> item </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.item}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-transform:uppercase;"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" (click)="deleteOrder(row)"><mat-icon
                    [matTooltip]="'delete Order'">delete</mat-icon></button>
            <button mat-raised-button color="primary" (click)="editOrder(row)" style="margin-left: 3px;"><mat-icon
                    [matTooltip]="'delete Order'">edit</mat-icon></button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="tableObj.pageSizeOptions" [pageSize]="tableObj.pageSize"
    [pageIndex]="tableObj.pageIndex" [length]="tableObj.dataSource.data.length" (page)="onPageChange($event)">
</mat-paginator>